In [15]:
import pandas as pd
import json
from pandas.io.json import json_normalize
cat=[]

In [2]:
csvfile="youtube-new/CAvideos.csv"
df_ca=pd.read_csv(csvfile)
df_ca.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ðŸŽ§: https://ad.gt/yt-perfect\nðŸ’°: https://atlant...

In [3]:
df_ca.describe()

        category_id         views         likes      dislikes  comment_count
count  40881.000000  4.088100e+04  4.088100e+04  4.088100e+04   4.088100e+04
mean      20.795553  1.147036e+06  3.958269e+04  2.009195e+03   5.042975e+03
std        6.775054  3.390913e+06  1.326895e+05  1.900837e+04   2.157902e+04
min        1.000000  7.330000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       20.000000  1.439020e+05  2.191000e+03  9.900000e+01   4.170000e+02
50%       24.000000  3.712040e+05  8.780000e+03  3.030000e+02   1.301000e+03
75%       24.000000  9.633020e+05  2.871700e+04  9.500000e+02   3.713000e+03
max       43.000000  1.378431e+08  5.053338e+06  1.602383e+06   1.114800e+06

In [4]:
df_ca.count()

video_id                  40881
trending_date             40881
title                     40881
channel_title             40881
category_id               40881
publish_time              40881
tags                      40881
views                     40881
likes                     40881
dislikes                  40881
comment_count             40881
thumbnail_link            40881
comments_disabled         40881
ratings_disabled          40881
video_error_or_removed    40881
description               39585
dtype: int64

In [5]:
json_file="youtube-new/CA_category_id.json"
type(json_file)

str

In [6]:
df_ca_json=pd.read_json(json_file)
df_ca_json.head()

,kind,etag,items
0,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
1,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
2,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
3,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
4,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."

In [10]:
list_countries=["youtube-new/CA_category_id.json","youtube-new/US_category_id.json","youtube-new/GB_category_id.json"]

In [19]:
for country in list_countries:
    json_data=json.load(open(country, 'r'))
    for data in json_data['items']:
        cat.append([data['id'],country[12:14],data['snippet']['title']])
            
cat

[['1', 'CA', 'Film & Animation'],
 ['2', 'CA', 'Autos & Vehicles'],
 ['10', 'CA', 'Music'],
 ['15', 'CA', 'Pets & Animals'],
 ['17', 'CA', 'Sports'],
 ['18', 'CA', 'Short Movies'],
 ['19', 'CA', 'Travel & Events'],
 ['20', 'CA', 'Gaming'],
 ['21', 'CA', 'Videoblogging'],
 ['22', 'CA', 'People & Blogs'],
 ['23', 'CA', 'Comedy'],
 ['24', 'CA', 'Entertainment'],
 ['25', 'CA', 'News & Politics'],
 ['26', 'CA', 'Howto & Style'],
 ['27', 'CA', 'Education'],
 ['28', 'CA', 'Science & Technology'],
 ['30', 'CA', 'Movies'],
 ['31', 'CA', 'Anime/Animation'],
 ['32', 'CA', 'Action/Adventure'],
 ['33', 'CA', 'Classics'],
 ['34', 'CA', 'Comedy'],
 ['35', 'CA', 'Documentary'],
 ['36', 'CA', 'Drama'],
 ['37', 'CA', 'Family'],
 ['38', 'CA', 'Foreign'],
 ['39', 'CA', 'Horror'],
 ['40', 'CA', 'Sci-Fi/Fantasy'],
 ['41', 'CA', 'Thriller'],
 ['42', 'CA', 'Shorts'],
 ['43', 'CA', 'Shows'],
 ['44', 'CA', 'Trailers'],
 ['1', 'US', 'Film & Animation'],
 ['2', 'US', 'Autos & Vehicles'],
 ['10', 'US', 'Music'],
 ['15', 'US', 'Pets & Animals'],
 ['17', 'US', 'Sports'],
 ['18', 'US', 'Short Movies'],
 ['19', 'US', 'Travel & Events'],
 ['20', 'US', 'Gaming'],
 ['21', 'US', 'Videoblogging'],
 ['22', 'US', 'People & Blogs'],
 ['23', 'US', 'Comedy'],
 ['24', 'US', 'Entertainment'],
 ['25', 'US', 'News & Politics'],
 ['26', 'US', 'Howto & Style'],
 ['27', 'US', 'Education'],
 ['28', 'US', 'Science & Technology'],
 ['29', 'US', 'Nonprofits & Activism'],
 ['30', 'US', 'Movies'],
 ['31', 'US', 'Anime/Animation'],
 ['32', 'US', 'Action/Adventure'],
 ['33', 'US', 'Classics'],
 ['34', 'US', 'Comedy'],
 ['35', 'US', 'Documentary'],
 ['36', 'US', 'Drama'],
 ['37', 'US', 'Family'],
 ['38', 'US', 'Foreign'],
 ['39', 'US', 'Horror'],
 ['40', 'US', 'Sci-Fi/Fantasy'],
 ['41', 'US', 'Thriller'],
 ['42', 'US', 'Shorts'],
 ['43', 'US', 'Shows'],
 ['44', 'US', 'Trailers'],
 ['1', 'GB', 'Film & Animation'],
 ['2', 'GB', 'Autos & Vehicles'],
 ['10', 'GB', 'Music'],
 ['15', 'GB', 'Pets & Animals'],
 ['17', 'GB', 'Sports'],
 ['18', 'GB', 'Short Movies'],
 ['19', 'GB', 'Travel & Events'],
 ['20', 'GB', 'Gaming'],
 ['21', 'GB', 'Videoblogging'],
 ['22', 'GB', 'People & Blogs'],
 ['23', 'GB', 'Comedy'],
 ['24', 'GB', 'Entertainment'],
 ['25', 'GB', 'News & Politics'],
 ['26', 'GB', 'Howto & Style'],
 ['27', 'GB', 'Education'],
 ['28', 'GB', 'Science & Technology'],
 ['30', 'GB', 'Movies'],
 ['31', 'GB', 'Anime/Animation'],
 ['32', 'GB', 'Action/Adventure'],
 ['33', 'GB', 'Classics'],
 ['34', 'GB', 'Comedy'],
 ['35', 'GB', 'Documentary'],
 ['36', 'GB', 'Drama'],
 ['37', 'GB', 'Family'],
 ['38', 'GB', 'Foreign'],
 ['39', 'GB', 'Horror'],
 ['40', 'GB', 'Sci-Fi/Fantasy'],
 ['41', 'GB', 'Thriller'],
 ['42', 'GB', 'Shorts'],
 ['43', 'GB', 'Shows'],
 ['44', 'GB', 'Trailers']]

In [23]:
category_df=pd.DataFrame(cat,columns=['Category_id','Country','Category_name'])
category_df.head(200)

   Category_id Country         Category_name
0            1      CA      Film & Animation
1            2      CA      Autos & Vehicles
2           10      CA                 Music
3           15      CA        Pets & Animals
4           17      CA                Sports
5           18      CA          Short Movies
6           19      CA       Travel & Events
7           20      CA                Gaming
8           21      CA         Videoblogging
9           22      CA        People & Blogs
10          23      CA                Comedy
11          24      CA         Entertainment
12          25      CA       News & Politics
13          26      CA         Howto & Style
14          27      CA             Education
15          28      CA  Science & Technology
16          30      CA                Movies
17          31      CA       Anime/Animation
18          32      CA      Action/Adventure
19          33      CA              Classics
20          34      CA                Comedy
21          35      CA           Documentary
22          36      CA                 Drama
23          37      CA                Family
24          38      CA               Foreign
25          39      CA                Horror
26          40      CA        Sci-Fi/Fantasy
27          41      CA              Thriller
28          42      CA                Shorts
29          43      CA                 Shows
..         ...     ...                   ...
64           2      GB      Autos & Vehicles
65          10      GB                 Music
66          15      GB        Pets & Animals
67          17      GB                Sports
68          18      GB          Short Movies
69          19      GB       Travel & Events
70          20      GB                Gaming
71          21      GB         Videoblogging
72          22      GB        People & Blogs
73          23      GB                Comedy
74          24      GB         Entertainment
75          25      GB       News & Politics
76          26      GB         Howto & Style
77          27      GB             Education
78          28      GB  Science & Technology
79          30      GB                Movies
80          31      GB       Anime/Animation
81          32      GB      Action/Adventure
82          33      GB              Classics
83          34      GB                Comedy
84          35      GB           Documentary
85          36      GB                 Drama
86          37      GB                Family
87          38      GB               Foreign
88          39      GB                Horror
89          40      GB        Sci-Fi/Fantasy
90          41      GB              Thriller
91          42      GB                Shorts
92          43      GB                 Shows
93          44      GB              Trailers

[94 rows x 3 columns]